@font-face {
  font-family: 'SukhumvitSet-Medium';
  src: url('SukhumvitSet-Medium.eot?#iefix') format('embedded-opentype'),  url('SukhumvitSet-Medium.woff') format('woff'), url('SukhumvitSet-Medium.ttf')  format('truetype'), url('SukhumvitSet-Medium.svg#CSChatThaiUI') format('svg');
  font-weight: normal;
  font-style: normal;
}
.navBar {
  background-color: #85cec2;
  height: 80px;
  margin-bottom: 50px;
}
body {
  background-color: #fafafa;
  font-family: "SukhumvitSet-Medium";
}
h5 {
  color: white;
}
p {
  color: white;
}
.styleFile {
  border: width 5;
  border-radius: 40px;
  border-style: dashed;
  border-color: #85cec2;
  margin: 15px;
  padding: 90px;
}
.styleBox {
  border: width 5;
  border-radius: 40px;
  border-color: #85cec2;
  padding-left: 30px;
  padding-right: 30px;
}
.box {
  background-color: white;
}
.image {
  width: 100px;
  height: 100px;
}
.input {
  background-color: #85cec2;
  color: white;
  /* text-align: center; */
  /* width: 300px; */
}
.table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}
.pointer{
  cursor: pointer;
}
p:hover{
  background-color: #85cec2;
  color: white;
  opacity: 0.5;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
