<!DOCTYPE html>
<html>

<!-- <head>
  <meta charset="utf-8" />
  <script src="angular.min.js"></script>
  <script src="angular-ui-router.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="logo.css" />
</head> -->

<body ng-app="RoutingApp">
  <div ng-controller="myApi" class="dropdown">
    <!-- <div class="row justify-content-center mb-3">
      <div class="styleBox col-5 box">
        <div class="row justify-content-center">
          <div class="styleFile col-12">
            <div class="row justify-content-center">
              <div class="col-3">
                <img src="hello.png" style="width: 120px; height: 120px;" />
              </div>
            </div>
            <div class="mt-5">
              <div style="margin: auto; height: 38px; width: 240px;">
                <div class="btn-group" style="
                    background-color: #85cec2;
                    color: white;
                    border-radius: 10px;
                    height: 100%;
                    width: 100%;
                    border: none;
                    align-items: center;
                    display: flex;
                    box-shadow: 0 5px 5px -5px gray;
                  ">
                  <input type="file" id="input-file" style="padding-left:20px;margin:auto" required />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div
      style=" width: 659px;
  height: 353px; margin: auto;  border-radius: 40px;background-color: #ffffff;box-shadow: 0 3px 3px -4px ;border: 1px solid white;">
      <div style="margin: 3%;border: 2px dashed #A2A2A2;; height: 89%; width: 94%;border-radius: 30px;opacity: 1;">
        <div class="mt-5">
          <div class="row justify-content-center">
            <img src="hello.png" style="width: 120px; height: 120px;" />
          </div>
        </div>
        <div class="mt-5">
          <div class="row justify-content-center" style="margin: auto;">
            <div style="margin: auto; height: 40px; width: 240px;">
              <div class="btn-group" style="
  background-color: #85cec2;
  color: white;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  border: none;
  align-items: center;
  display: flex;
  box-shadow: 0 5px 5px -5px gray;
">
                <input type="file" id="input-file" style="margin: 10%;" required />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form id="myForm">
      <input id="content-target" name="inText" hidden required></input><br />
      <div class="mb-5 mt-5">
        <div style="margin: auto; height: 40px; width: 320px;">
          <select ng-model="product_model" class="form-control" name="productName"
            style="background-color: #85cec2;color: white; border-radius: 10px; height: 50px;width: 100%; box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.3)"
            required>
            <option value="" selected disabled>Select Product</option>
            <option ng-repeat="Product in product" class="dropdown-item">{{Product.productName}}</option>
          </select>
        </div>
      </div>
      <div class="mb-5">
        <div style="margin: auto; height: 40px; width: 320px;">
          <select ng-model="product_model1" class="form-control" name="companyName"
            style="background-color:#85cec2;color: white;border-radius: 10px;height: 50px;width: 100%; box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.3)"
            required>
            <option value="" selected disabled>Select Company</option>
            <option ng-repeat="Product in company">{{Product.companyName}}</option>
          </select>
        </div>
      </div>
      <!-- <div class="row justify-content-center">
          <div class="col-1">
            <button type="submit"
              style="border-radius: 10px;background-color: #85cec2;width: 100px;color: white;border-color:  #85cec2;text-align: center;">Submit</button>
          </div>
        </div> -->
      <div style="margin: auto; height: 30px; width: 110px; font-size: 90%;">
        <input id="myBtn" type="submit" style="
                background-color: #85cec2;
                color: white;
                border-radius: 10px;
                height: 100%;
                width: 100%;
                border: none;
                box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.3);
              ">

        </input>
      </div>
  </div>

  </div>
  </form>
  </div>
</body>

</html>